<style type="text/css">
    #colorb{
        height: 30px;
        width: 30px;

    }
</style>

<table>
    <!--文本框-->
    <tr>
        <td>
            <label for="input" class="oj-label-inline">印刷机型号：</label>
        </td>
        <td>
            <input id="input"
                   data-bind="ojComponent: {
            component: 'ojInputText',
            value:'1798',
            rootAttributes: {style: 'max-width:40em'}}"/>
        </td>
    </tr>
    <!--下拉列表-->
    <tr>
        <td><label for="basicSelect" class="oj-label-inline">颜色：</label></td>
        <td>
            <select id="basicSelect" class="oj-" data-bind="ojComponent: {component: 'ojSelect',value: val,rootAttributes: {style:'max-width:20em'}}">
            <option value="green">绿色</option>
            <option value="blue">蓝色</option>
            <option value="red">红色</option>
            <option value="black" >黑色</option>
        </select>
        </td>
        <td>
          <div id="colorb" data-bind="style:{ background: val}"></div>
        </td>
    </tr>

    <tr>
        <td>
            <label for="fumian" class="oj-label-inline">纸张幅面</label>
        </td>
        <td>
            <input id="fumian"
                   data-bind="ojComponent: {component: 'ojInputText',value: '182'}"/>
        </td>
        <td>
            <span style="font-family: 'Arial Black'">mm</span>
        </td>
    </tr>
</table>
<!--复选框 -->
<label id="mainlabelid">爱好：</label>
<div id="checkboxSetId" aria-labelledby="mainlabelid"
     data-bind="ojComponent: {
          component: 'ojCheckboxset',
          value: currentHobby}" >
      <span class="oj-choice-row">
        <input id="swiming" type="checkbox" value="swiming">
        <label for="swiming">游泳</label>
      </span>
    <span class="oj-choice-row">
        <input id="reading" type="checkbox" checked="checked" value="reading">
        <label for="reading">读书</label>
      </span>
    <span class="oj-choice-row">
        <input id="gaming" type="checkbox" value="gaming">
        <label for="gaming">游戏</label>
      </span>
    <span class="oj-choice-row">
        <input id="basketball" type="checkbox" value="basketball">
        <label for="basketball">篮球</label>
      </span>
  </div>
<div>
    <input id="checkall" type="checkbox" value="all" data-bind="checked: che">
    <label for="checkall" >全选</label>
</div>
<br>
<div>
    你选的爱好有：
    <span data-bind="text: currentHobby"></span>
    </span>
</div>








