<div id="conveorbelt-vertical-example">
    <div style="height: 200px" data-bind="ojComponent:{component:'ojConveyorBelt',
    orientation:'vertical'}">
        <button data-bind="ojComponent:{component: 'ojButton'}"
                style="width: 100%;">abc</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Helium</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Lithium</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Beryllium</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Boron</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Carbon</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Nitrogen</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Oxygen</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Fluorine</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Neon</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Sodium</button>
        <button data-bind="ojComponent: {component: 'ojButton'}"
                style="width:100%;">Magnesium</button>
    </div>
</div>