<div id="conveyorbelt-horizontal-example">

        <div class="oj-lg-6 oj-md-9 oj-sm-12"
             data-bind="ojComponent: {component: 'ojConveyorBelt',comtentParent:'#Mybutton'}">
            <div id="Mybutton" class="oj-buttonset-width-auto" data-bind="ojComponent:{component:'ojButtonset'}">
                <button >Magnesium</button>
                <button >Magnesium</button>
                <button >Magnesium</button>
                <button >Magnesium</button>
                <button >Magnesium</button>
                <button >Magnesium</button>
                <button >Magnesium</button>
                <button >Magnesium</button>
                <button >Magnesium</button>
        </div>
    </div>
</div>