Icons with a suffix "-24" were designed to look best at 24px.
<ul class="demo-icon-layout demo-list-layout-horizontal"
    style="padding-bottom: 20px">
    <li><span title=".demo-home-icon-24" role="img"
              class="demo-home-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-education-icon-24" role="img"
              class="demo-education-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-catalog-icon-24" role="img"
              class="demo-catalog-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-palette-icon-24" role="img"
              class="demo-palette-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-library-icon-24" role="img"
              class="demo-library-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-chat-icon-24" role="img"
              class="demo-chat-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-person-icon-24" role="img"
              class="demo-person-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-people-icon-24" role="img"
              class="demo-people-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-garbage-icon-24" role="img"
              class="demo-garbage-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-copy-icon-24" role="img"
              class="demo-copy-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-edit-icon-24" role="img"
              class="demo-edit-icon-24 demo-icon-font-24"></span></li>
    <li><span title=".demo-signout-icon-24" role="img"
              class="demo-signout-icon-24 demo-icon-font-24"></span></li>
    </ul>