<style type="text/css">
    .a{
        display: flex;
    }
</style>
<div id="wqs">
    <div class="oj-flex-item oj-sm-flex-initial oj-buttonset-width-auto"
         data-bind="ojComponent: {component: 'ojButtonset', checked: activeLayout, chroming: 'half', optionChange: handleLayoutChange}" aria-label="Choose layout view.">
        <!-- ko foreach: layoutViewRadios -->
        <label data-bind="attr: {for: id}"></label>
        <input type="radio" name="beverage" data-bind="value: id, attr: {id: id},
		ojComponent: { component: 'ojButton',  label:id  }"/>
        <!-- /ko -->
    </div>
</div>

<div id="listviewcontainer" class="oj-flex oj-sm-flex-wrap-nowrap">
        <ul id="listview"  aria-label="list of contacts"
            data-bind="ojComponent: {component: 'ojListView', data: dataSource, item: {template: selectTemplate}, drillMode: 'none',  rootAttributes: {class: 'demo-contacts-container-portrait oj-flex-item'} }">

        </ul>

</div>


<script type="text/html" id="item_template">
    <li data-bind="attr: {id: id}">
        <span data-bind="text: name"></span>
        <div style="height: 50px;width: 50px"></div>

    </li>

</script>