<div id="filmstrip-navdots-example">


    <div id="filmStripDiv" class="oj-panel" style="margin: 20px;">
        <div id="film"
             aria-label="Set of chemicals"
             data-bind="ojComponent: {
           component: 'ojFilmStrip',
           arrowVisibility: 'hidden'}">
            <!-- ko foreach: chemicals -->
            <div class="oj-panel oj-panel-alt2 demo-filmstrip-item"
                 data-bind="style: {
             display:  getItemInitialDisplay($index())}">
                <span data-bind="text: name"></span>
            </div>
            <!-- /ko -->
        </div>

        <div style="text-align: center;">
            <div style="display: inline-block;margin-top: 4px;">
                <div id="pagingControl"
                     data-bind="ojComponent: {
               component: 'ojPagingControl',
               data: getPagingModel(),
               pageSize: 0,
               pageOptions: {type: 'dots'}}">
                </div>
            </div>
        </div>
    </div> <!-- end filmStripDiv -->
</div>
