<div><button class="oj-button-confirm"
        data-bind="ojComponent: {
                      component:'ojButton', label: 'Confirm',
                      icons: {start:'oj-fwk-icon oj-fwk-icon-clock'},
                      disabled: false, chroming: 'full'
                  }">
</button>

    <div class="heightView" style="height: 200px; position: relative; z-index: 201;">
        <div style="width: 100%; position: absolute; bottom: 0;" data-bind="style: {height:20,'background-color':red}"></div>
        <div style="width: 100%; position: absolute; bottom: 0; color: red; text-align: center; font-weight: bold">X</div>
    </div>
</div>
